doctype
html
  head
    link(rel="stylesheet" href="/functional.css")
    script(src="/js/jquery-2.1.4.js")
    // script(src="/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    // Include MathJax by hand---not included for reduced payload
    script(src="/js/navigate.js")
    script(src="/js/keys.js")
    script(src="/js/init.js")

    link(rel="stylesheet" href="/slides/slides.css")
    script(src="/slides/slides.js")

  body
    != yield
